<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Corretores</title>
</head>
<body>
    <h1>Lista de Corretores</h1>
    <ul>
        {% for corretor in corretores %}
            <li>
                <h2>{{ corretor.nome }}</h2>
                <p>CRECI: {{ corretor.creci }}</p>
                <p>Telefone: {{ corretor.telefone }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
