<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vendas</title>
</head>
<body>
    <header>
        <h1>Lista de Vendas</h1>
    </header>
    <main>
        <ul>
            {% for venda in vendas %}
                <li>{{ venda.cliente }} comprou {{ venda.imovel }} por {{ venda.valor }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <a href="{% url 'pagina_inicial' %}">Voltar para a Página Inicial</a>
    </footer>
</body>
</html>
