<ul>
    {% for imovel in imoveis %}
        <li>
            <div class="imovel-card">
                {% if imovel.foto %}
                    <img src="{{ imovel.foto.url }}" alt="Foto de {{ imovel.titulo }}" class="imovel-image">
                {% endif %}
                <h2 class="imovel-title">{{ imovel.titulo }}</h2>
                <p class="imovel-description">{{ imovel.descricao }}</p>
                <p class="imovel-price">Preço: R$ {{ imovel.preco }}</p>
                <a href="{% url 'detalhar_imovel' imovel.id %}" class="btn btn-primary">Ver Detalhes</a>
            </div>
        </li>
    {% endfor %}
</ul>

<ul class="pagination">
    {% if imoveis.has_previous %}
        <li><a href="?page={{ imoveis.previous_page_number }}">Anterior</a></li>
    {% endif %}
    <li>Página {{ imoveis.number }} de {{ imoveis.paginator.num_pages }}</li>
    {% if imoveis.has_next %}
        <li><a href="?page={{ imoveis.next_page_number }}">Próxima</a></li>
    {% endif %}
</ul>