<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Imóvel</title>
</head>
<body>
    <header>
        <h1>Adicionar Novo Imóvel</h1>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </main>
    <footer>
        <a href="{% url 'listar_imoveis' %}">Voltar para a Lista de Imóveis</a>
    </footer>
</body>
</html>
