<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <header>
        <h1>Lista de Clientes</h1>
    </header>
    <main>
        <ul>
            {% for cliente in clientes %}
                <li>{{ cliente.nome }} - {{ cliente.email }} - {{ cliente.telefone }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <a href="{% url 'pagina_inicial' %}">Voltar para a Página Inicial</a>
    </footer>
</body>
</html>
